<h1>Editing paper</h1>

<%= render "form", paper: @paper %>
<br>
<%= form_with(model: @paper) do |form| %>
<%= form.select 'author_ids',
  options_from_collection_for_select(Author.all, :id, :name, @paper.author_ids),
  {},
  multiple: true, size: 10 %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Show this paper", @paper %> |
  <%= link_to "Back to papers", papers_path %>
</div>
